<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <br>
    <div class="bg-6">
        <div class="glitch" data-text="UPT">CAMISAS</div>
    </div>
<br>
<h5>
    <p class="monos">Estas camisas son de muy buena calidad, y existen diferentes dieseños. 
        "PONTE LA CAMISETA COLMILLO".
    </p>
</h5>
<br>
    <div>
        <figure>
            <img src="../assets/img/Cam01.jpg" alt="UPT" width="300" height="300">
            <figcaption>
                 LOGOTIPO UPT
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Cam02.jpg" alt="FINANCIERA" width="300" height="300">
            <figcaption>
                LOGOTIPO INGENIERÍA FINANCIERA
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Cma03.jpg" alt="AUTOMOTRIZ" width="300" height="300">
            <figcaption>
               LOGOTIPO INGENIERÍA EN MECÁNICA AUTOMOTRIZ
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Cam04.jpg" alt="MANUFACTURA" width="300" height="300">
            <figcaption>
                LOGOTIPO INGENIERÍA EN TECNOLOGÍAS DE MANUFACTURA
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Cam05.jpg" alt="SOFTWARE" width="300" height="300">
            <figcaption>
                LOGOTIPO INGENIERÍA EN SOFTWARE
            </figcaption>
        </figure>
        
        <figure>
            <img src="../assets/img/Cam06.png" alt="NEGOCIOS" width="300" height="300">
            <figcaption>
                LOGOTIPO LICENCIATURA EN NEGOCIOS INTERNACIONALES
            </figcaption>
        </figure>
        
        <figure>
            <img src="../assets/img/Cam09.jpg" alt="AMBOS" width="300" height="300">
            <figcaption>
                MODELO MUJER CON LOGOTIPO IF
            </figcaption>
        </figure>
        
        
        <figure>
            <img src="../assets/img/Cam11.jpg" alt="AMBOS" width="300" height="300">
            <figcaption>
                LOGOTIPO DE UPT
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Cam10.jpg" alt="AMBOS" width="300" height="300">
            <figcaption>
                MODELO HOMBRE CON LOGOTIPO IMA
            </figcaption>
        </figure>
    </div>
    <div class="bg-5">        
        <h1 class="animated-shadow">COMPRA</h1>         
    </div>
</body>
</html>

