<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body> 
        <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
       <br>
     <br>
     <br>
       <br>
     <br>
     <br>
     <br>
     <br>
     <br>
       <br>
     <br>
     <br>
     v
     

        <div class="bg-6">
                <div class="glitch" data-text="UPT">¡ COMILLOS hola !</div>
        </div>

<section>
<br>
<div class="slider">
    <ul>
        <li>
<img src="../assets/img/carreras.jpg"   alt="">
</li>
        <li>
<img src="../assets/img/uni.jpg" alt="">
</li>
        <li>
<img src="../assets/img/carreras.jpg" alt="">
</li>
        <li>
<img src="../assets/img/uni.jpg" alt="">
</li>
    </ul>
</div>
<br>
</section>
<br>
<h5>
        <p class="monos">Aquí encontrarás camisas y gafetes de tu agrado, PARA QUE PONGAS EN ALTO A LA UNIVERSIDAD. 
                Presume tu carrera con su logo y se el ingenier@ o licenciad@ con más estilo...
        </p>
</h5>
<br>
<img src="../assets/img/Cam09.jpg" alt="" class='imgRedonda'>
<img src="../assets/img/Co04.jpg" alt="" class='imgRedonda'>
<img src="../assets/img/Cam01.jpg" alt="" class='imgRedonda'>
<br>
<br>
<h2>
    <p class="monos1" style="color:orangered;">
        Acerca de tu universidad
    </p>   
</h2>
<h5>
<p class="monos1">La Universidad Politécnica de Tecámac tiene el firme compromiso de contribuir al crecimiento nacional de nuestro país mediante la formación de profesionistas con calidad, a través de competencias profesionales; permitiendo con ello resolver la problemática de las empresas y fomentar el bienestar social.
                Es una Universidad Pública, descentralizada del Gobierno del Estado de México. Se encuentra en el municipio de Tecámac como una alternativa para los jóvenes egresados del nivel medio superior y como un apoyo al sector industrial, de comercio y de servicios del Valle de Tecámac.</p>
</h5>
<br>
<img src="../assets/img/upt.jpg" alt="">
<br>
<br>
<h2>
        <p class="monos1" style="color:orangered;">
            Carreras en la Universidad Politécnica de Tecámac 
        </p>   
</h2>
    <br>
   
    <img src="../assets/img/IS.png" alt="" class='imgRedonda1'>
    <img src="../assets/img/ITM.png" alt="" class='imgRedonda1'>
    <img src="../assets/img/IMA.png" alt="" class='imgRedonda1'>
    <img src="../assets/img/IF.png" alt="" class='imgRedonda1'>
    <img src="../assets/img/NE.png" alt="" class='imgRedonda1'>
<section>    
        <br>
      
    <font color="black" size="4px">UPT &copy; 2021  </font>    
    <a href="http://uptecamac.edomex.gob.mx/acerca_de_la_universidad"> <img src="../assets/img/red-mundial.png" width="40" height="40">  </a>       
</section>
</body>
</html>
