<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>
    <br>    
    <div class="bg-6">
        <div class="glitch"  data-text="UPT">CINTAS</div>
    </div>
<br>
<h5>
    <p class="monos1">Tu credencial es lo más preciado dentro y fuera de la universidad, por eso siempre tenla presente en cada momento y que 
        mejor que con un portagafete o una cinta para que "NUNCA OLVIDES TU CREDENCIAL Y NO TE QUEDES AFUERA".


    </p>
</h5>
    <div>
        <figure>
            <img src="../assets/img/Co01.jpg" alt="UPT" width="300" height="300">
            <figcaption>
                 CINTA PARA LLAVES O GAFETE LOGOTIPO UPT
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Co02.jpg" alt="UPT" width="300" height="300">
            <figcaption>
                CINTA PARA LLAVES O GAFETE LOGOTIPO IS
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Co03.jpg" alt="UPT" width="300" height="300">
            <figcaption>
                CINTA PARA LLAVES O GAFETE LOGOTIPOS UPT, IF, IMA
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Co04.jpg" alt="MANUFACTURA" width="300" height="300">
            <figcaption>
                CINTA PARA GAFETE LOGOTIPOS UPT y ITM
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Co05.jpg" alt="SOFTWARE" width="300" height="300">
            <figcaption>
                CINTA PARA GAFETE LOGOTIPO IS
            </figcaption>
        </figure>
        
        <figure>
            <img src="../assets/img/Co06.jpg" alt="NEGOCIOS" width="300" height="300">
            <figcaption>
                PORTAGAFETE LOGOTIPO IF
            </figcaption>
        </figure>
        
        <figure>
            <img src="../assets/img/Co07.jpg" alt="AMBOS" width="300" height="300">
            <figcaption>
                PORTAGAFETE LOGOTIPO IS
            </figcaption>
        </figure>
        
        
        <figure>
            <img src="../assets/img/Co08.jpg" alt="AMBOS" width="300" height="300">
            <figcaption>
                PORTAGAFETE LOGOTIPO UPT
            </figcaption>
        </figure>

        <figure>
            <img src="../assets/img/Co09.jpg" alt="AMBOS" width="300" height="300">
            <figcaption>
                PORTAGAFETE METÁLICO LOGOTIPO ITM
            </figcaption>
        </figure>
    </div>
    <div class="bg-5">        
        <h1 class="animated-shadow">COMPRA</h1>         
    </div>
</body>
</html>


